body {
    background: #076DF2;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: #F2E744;
}

.assignment img {
    width: 200px;
    border: 2px solid whitesmoke;
    margin-right: 20px;
}

h1 {
    color: #F2D541;
    text-align: center;
}

a {
    text-decoration: none;
    color: #0D0D0D;
}